.app {
  width: 600px;
  height: 600px;
}

.welcome-icon {
  width: 100%;
  height: 100%;
}

.login-button {
  position: absolute;
  top: 45%;
  left: 55%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #3366ff;
}
.form-login-button {
  position: absolute;
  top: 95%;
  left: 20%;
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #3366ff;
}

.login-form {
  width: 25%;
  position: absolute;
  top: 45%;
  left: 55%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: black;
  font-size: 16px;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
}

.user-input {
  width: 100%;
  background-color: white;
  border: 1px solid black;
  margin: 5px 0px 1px 0px;
  border-radius: 5px;
  padding: 4px;
}

.email-login-input {
  width: 100%;
  background-color: white;
  color: black;
}

.password-login-input {
  width: 100%;
  background-color: white;
  color: black;
}

.register-button {
  position: absolute;
  top: 55%;
  left: 55%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #3366ff;
}

.register-form {
  width: 25%;
  position: absolute;
  top: 45%;
  left: 55%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: black;
  font-size: 16px;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
}

.form-register-button {
  position: absolute;
  top: 100%;
  left: 10%;
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #3366ff;
}

.main-frame-container {
  display: flex;
  flex-direction: column;
}

.title-header {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  background-color: #3366ff;
  text-align: center;
  color: White;
  padding: 5px;
}

.conversation {
  background-color: white;
  border: 1px solid black;
  padding: 5px;
}

.select-conversation-button {
  position: relative;
  top: 40%;
  left: 40%;
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 10px;
  padding: 12px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #3366ff;
}

.message-list {
  height: 435px;
  background-color: White;
  padding: 5px;
  overflow: scroll;
}

.sender-id {
  font-size: 12px;
}

p span {
  background-color: #3366ff;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  color: White;
}

.send-message {
  display: flex;
  flex-direction: row;
  background-color: #b3c6ff;
  padding: 5px;
  height: 20px;
  padding: 20px 20px;
}

input {
  border: none;
  background-color: #b3c6ff;
  color: Black;
  font-size: 16px;
  width: 600px;
}

input:focus, textarea:focus, select:focus {
    outline: none;
  }
