.main-frame-container {
  display: flex;
  flex-direction: column;
}

.title-header {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  background-color: #3366ff;
  text-align: center;
  color: White;
  padding: 5px;
}

.message-list {
  height: 435px;
  background-color: White;
  padding: 5px;
}

.send-message {
  background-color: #b3c6ff;
  padding: 5px;
}
