.main-frame-container {
  display: flex;
  flex-direction: column;
}

.title-header {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  background-color: #3366ff;
  text-align: center;
  color: White;
  padding: 5px;
}

.message-list {
  height: 435px;
  background-color: White;
  padding: 5px;
  overflow: scroll;
}

.sender-id {
  font-size: 12px;
}

p span {
  background-color: #3366ff;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  color: White;
}

.send-message {
  display: flex;
  flex-direction: row;
  background-color: #b3c6ff;
  padding: 5px;
  height: 20px;
  padding: 20px 20px;
}

input {
  border: none;
  background-color: #b3c6ff;
  color: Black;
  font-size: 16px;
}

input:focus, textarea:focus, select:focus {
    outline: none;
  }
