.app {
  width: 900px;
  height: 700px;
}

.welcome-icon {
  width: 100%;
  height: 100%;
}

.login-button {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #3366ff;
}
.form-login-button {
  position: absolute;
  top: 100%;
  left: 30%;
  /* -ms-transform: translate(-50%, -50%); */
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #3366ff;
}

.login-form {
  width: 25%;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: black;
  font-size: 16px;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
}

.user-input {
  width: 100%;
  background-color: white;
  border: 1px solid black;
  margin: 5px 0px 1px 0px;
  border-radius: 5px;
  padding: 4px;
}

.email-login-input {
  width: 100%;
  background-color: white;
  color: black;
}

.password-login-input {
  width: 100%;
  background-color: white;
  color: black;
}

.register-button {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #3366ff;
}

.register-form {
  width: 25%;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: black;
  font-size: 16px;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
}

.form-register-button {
  position: absolute;
  top: 100%;
  left: 25%;
  /* -ms-transform: translate(-50%, -50%); */
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #3366ff;
}

.cancel-button {
  position: absolute;
  top: 62%;
  left: 45%;
  -ms-transform: translate(-50%, -50%);
  color: gray;
  font-size: 12px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #e1e4e8;
}

.main-frame-container {
  display: flex;
  flex-direction: column;
}

.title-header {
  font-size: 20px;
  background-color: #3366ff;
  text-align: center;
  color: White;
  padding: 5px;
  border-radius: 5px;
}

.title-back-button {
  position: absolute;
  left: 5%;
  top: 5%;
  font-size: 16px;
  background-color: white;
  color: blue;
  border-radius: 5px;
}

.loading-screen {
  position: absolute;
  left: 40%;
  top: 40%;
  color: #3366ff;
}

.conversation {
  /* display: flex;
  flex-direction: column; */
  /* background-color: #e1e4e8;
  border: 1px solid black;
  padding: 5px;
  color: black; */
}

.conversation-button {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
}

.conversation-username {
  position: absolute;
  left: 5%;  
  /* text-align: center; */
}

.conversation-updated {
  position: relative;
  left: 50%;  
  top: 3px;
}

.conversation-status {
  position: relative;
  left: 30%;
  top: 3px;
}

.select-conversation-button {
  /* position: relative;
  top: 40%;
  left: 40%;
  -ms-transform: translate(-50%, -50%); */
  float: right;
  color: white;
  font-size: 10px;
  padding: 12px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #3366ff;
}

.message-list {
  height: 530px;
  background-color: White;
  padding: 5px;
  overflow: scroll;
}

.refresh-button {
  position: absolute;
  top: 70%;
  left: 70%;
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 12px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: #598eff;
}

.refresh-button:hover {
  background-color: #3366ff;
}

.author-name {
  font-size: 12px;
}

p span {
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  color: White;
}

.send-message {
  position: fixed;
  display: flex;
  flex-direction: row;
  background-color: #b3c6ff;
  padding: 15px;
  height: 20px;
}

input {
  border: none;
  background-color: #b3c6ff;
  color: Black;
  font-size: 16px;
  width: 900px;
}

input:focus, textarea:focus, select:focus {
    outline: none;
  }
